/* Estilos Generales */
body {
  font-family: "Questrial", serif;
}

/* Estilos de Navegación */
nav {
  margin: 0;
}

.titulo-menu {
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #dc3545;
  padding: 0 6px;
}

.navbar-brand img {
  height: 90px;
  width: auto;
  object-fit: contain;
}

ul {
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px; /* Espacio para evitar que el contenido se mueva */
  position: relative;
  display: inline-block;
}
nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #dc3545;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

:hover::after,
nav ul li a.active::after {
  width: 100%;
  left: 0;
}

/* Estilos del Banner */
.banner {
  width: 100%;
  height: 80vh;
  background: url("../img/elegir-buen-mecanico-blog-Bardahl.jpg") center/cover
    no-repeat;
  color: white;
}

.fondo-banner {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 860px;
  height: 100%;
  padding: 50px 30px;
  margin: 0 auto;
  margin-top: -256px;
  border-radius: 40px;
}

.titulo-banner {
  font-weight: 400;
  /* color: #3ab2f8; */
  text-align: center;
  font-size: 60px;
  /* font-style: italic; */
  font-family: Lexend;
}

.parrafo-banner {
  text-align: center;
  font-size: 20px;
  color: #111111;
}

.btn-banner {
  text-decoration: none;
  border: none;
  font-size: 1.25rem;
  padding: 12px 53px;
  font-weight: 600;
  color: white;
  border-radius: 100px;
  background-color: #dc3545;
  font-family: "Questrial", serif;
  transition: background-color 0.4s;
  /* letter-spacing: 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-banner:hover {
  background-color: black;
}

.flecha-banner {
  font-size: 1.5rem;
  justify-content: center;
  font-weight: bold;
}

/* Media Queries */

/* Estilos de Imágenes */
.img-trac {
  height: auto;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.custom-card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

/* Estilos de Card */
.custom-card {
  border-radius: 30px;
}

.card {
  transition: all 0.3s ease;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: scale(1.05);
}

.card .content {
  padding: 20px;
  text-align: center;
}

/* Fondo de Card */
.fondo-card {
  background-color: #3ab2f8b6;
  width: 100%;
  border-radius: 0 0 30px 30px;
  color: white;
  border-top-left-radius: 12%;
  border-top-right-radius: 12%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 5%;
}

.card-img-overlay {
  padding: 0;
}

/* Estilos para el Contenido de Tracking */
.trac-titulo {
  font-size: 28px;
  color: #dc3545;
  font-weight: 400;
  font-family: Lexend;
}
.trac-parrafo {
  font-family: "Questrial", serif;
  font-size: 16px;
}

.trac-numeros-cont {
  border-top: #dc3545 1px solid;
  border-bottom: #dc3545 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.trac-numeros {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90px;
  background-color: #dc3545;
  color: white;
  border-radius: 10px;
  padding: 7px 50px;
  box-shadow: 0px 10px 26px -16px rgba(0, 0, 0, 1);
  border: 1px white solid;
}

.trac-numeros > p:first-child {
  font-weight: bold;
  font-size: 20px;
}

.trac-numeros > p:nth-of-type(2) {
  font-size: 12px;
  margin-bottom: 0;
}

/* Servicios */
.servicios {
  font-size: 24px;
  border: 3px solid #dc3545;
  display: inline-block;
  padding: 8px;
  font-family: Lexend;
  font-weight: 600;
}
.logo-footer {
  height: 130px;
  width: auto;
  object-fit: contain;
}

/* Pantallas medianas (max-width: 991px) */
@media (max-width: 950px) {
  .banner {
    height: 84vh;
    /* margin-top: 75px; */
  }

  .fondo-banner {
    width: 90%;
  }
  .titulo-banner {
    font-size: 45px;
  }

  .navbar-brand img {
    height: 110px;
    top: 50px;
  }
}
/* Pantallas pequeñas (max-width: 560px) */
@media (max-width: 560px) {
  .ocultar-btn {
    display: none;
  }
  .fondo-banner {
    width: 90%;
  }
  .banner {
    height: 70vh;
  }

  .titulo-banner {
    font-size: 30px;
  }
  .parrafo-banner {
    font-size: 16px;
  }

  .btn-banner {
    font-size: 16px;
    width: 100%;
    padding: 18px 37px 18px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flecha-banner {
    font-size: 1.2rem;
  }

  .trac-titulo {
    font-size: 1.4rem;
  }

  .trac-parrafo {
    font-size: 14px;
  }

  .servicios {
    font-size: 1.4rem;
  }
  .card {
    margin: 0 20px;
  }
}

.icono {
  font-size: 18px;
  margin-right: 10px;
  color: #bb2d3b;
}
.footer-linea {
  padding: 0px 0px 15px 0px;
  /* border-style: solid; */
  /* border-width: 0px 0px 1px 0px; */
  /* border-color: #ffffff1a; */
  /* border-radius: 0px 0px 0px 0px; */
}
/* Estilo para el botón flotante */
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  background-color: #dc3545;
}
.scroll-top-btn:hover {
  background-color: #c40b0bea;
}

/* .footer-linea {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
} */

.icono {
  font-size: 1.2rem;
  color: #f0a500;
}

footer h5 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #f0a500;
}

footer a {
  display: block;
  margin-bottom: 8px;
  padding: 0px 0px 15px 0px;
}

footer a:hover {
  color: #f0a500;
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }
}
.icon-social {
  font-size: 24px;
}
.btn-header {
  border: none;
  text-decoration: none;
  padding: 8px 22px;
  border-radius: 20px;
  color: white;
  background-color: #dc3545;
  font-weight: 500;
  transition: background-color 0.3s;
  font-family: "Questrial", serif;
  font-weight: 600;
}
.btn-header:hover {
  background-color: #c40b0bea;
}

.card-title,
.titulo-footer {
  font-family: lexend;
}
footer {
  padding-top: 50px;
}

.btn-footer {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* width: 100px; */
}
