/* Estilo general */
body {
  /* font-family: monospace; */
  font-family: "Poppins", serif;
}

/* Estilos de navegación */
nav {
  position: relative;
}

.titulo-menu {
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #dc3545;
  padding: 0 6px;
}

.navbar-brand img {
  height: 130px;
  width: auto;
  object-fit: contain;
}

.nav-color {
  font-weight: bold;
}

li .nav-color {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Espacio para evitar que el contenido se mueva */
}

li .nav-color::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #dc3545;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

li .nav-color:hover::after {
  width: 100%;
  left: 0;
}

/* Estilos del banner */
.banner {
  width: 100%;
  height: 50vh;
  background: url("/img/img-banner.jpg") center/cover no-repeat;
  color: white;
}

.fondo-banner {
  background-color: rgba(0, 0, 0, 0.459);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: 100%;
  padding: 20px;
}

.titulo-banner {
  font-weight: 800;
  color: #3ab2f8;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

.parrafo-banner {
  text-align: justify;
  font-size: 20px;
  max-width: 600px;
  font-weight: 500;
}

.btn-banner {
  font-weight: bold;
  font-size: 20px;
}

/* Media Queries */

/* Pantallas medianas (max-width: 991px) */
@media (max-width: 991px) {
  .navbar-brand img {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 140px;
  }

  .banner {
    height: 40vh;
    margin-top: 75px;
  }

  .fondo-banner {
    width: 100%;
  }
}

/* Pantallas pequeñas (max-width: 560px) */
@media (max-width: 560px) {
  .navbar-brand img {
    height: 110px;
    top: 50px;
  }

  .banner {
    height: 38vh;
    margin-top: 45px;
  }

  .parrafo-banner {
    font-size: 15px;
    width: 100%;
  }

  .btn-banner {
    font-size: 15px;
  }

  .titulo-banner {
    font-size: 1.4rem;
  }
}

.fondo-banner {
  opacity: 0;
  transform: translateX(-100%);
  animation: aparecerDesdeIzquierda 1s ease-out forwards;
}

@keyframes aparecerDesdeIzquierda {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.img-trac {
  height: auto;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  /* padding: 10px; */
}

.trac-titulo {
  font-size: 26px;
  color: #dc3545;
  font-weight: 500;
}

.trac-numeros-cont {
  border-top: #dc3545 1px solid;
  border-bottom: #dc3545 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.trac-numeros {
  text-align: center;
  width: 100px;
}
.trac-numeros > p:first-child {
  font-weight: bold;
  font-size: 20px;
}
.trac-numeros > p:nth-of-type(2) {
  font-size: 14px;
  margin-bottom: 0;
}
